{% extends "base.html" %}
{% block content %}

<div class="inventoryPage">
  <div class="inventoryTitle">
    <h1>(Body of inventory Page) </h1>
  </div>
  <div class="inventoryDescription">
    <p>(This is where we can list all the inventory and then have the create, edit, delete function)</p>
  </div>
  <div class="inventoryDatabase">
    <div className="inventoryTable">
      <table>
        <tr> <!-- Table header -->
          <th>Shoe ID</th>
          <th>Quantity</th>
          <th>Owner ID</th>
        </tr>
        {% for inventory in inventory %}
        <tr>
          <td>{{inventory.shoeIndex}} </td>
          <td>{{inventory.quantity}} </td>
          <td>{{inventory.owner}} </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>

{% endblock %}
