{% extends "base.html" %}
{% block content %}

<div class="transactionPage">
  <div class="transactionTitle">
    <h1>(Body of transaction Page) </h1>
  </div>
  <div class="transactionDescription">
    <p>(This is where we can list all the transactions and then have the create, edit, delete function)</p>
  </div>
  <div class="transactionDatabase">
    <div className="transactionTable">
      <table>
        <tr> <!-- Table header -->
          <th>Transaction ID</th>
          <th>Transaction Date/Time</th>
          <th>Transaction Type</th>
          <th>Seller ID</th>
          <th>Buyer ID</th>
          <th>Value of Transaction ($)</th>
        </tr>
        {% for transaction in transactions %}
        <tr>
          <td>{{transaction.transactionID}} </td>
          <td>{{transaction.transactionDate}} </td>
          <td>{{transaction.transactionType}} </td>
          <td>{{transaction.sellerID}} </td>
          <td>{{transaction.buyerID}} </td>
          <td>{{transaction.value}} </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>

{% endblock %}
