{% extends "base.html" %}
{% block content %}

<div class="userPage">
  <div class="userTitle">
    <h1>(Body of User Page) </h1>
  </div>
  <div class="userDescription">
    <p>(This is where we can list all the users and then have the create, edit, delete function)</p>
  </div>
  <div class="userDatabase">
    <div className="userTable">
      <table>
        <tr> <!-- Table header -->
          <th>User ID</th>
          <th>User Name</th>
          <th>User Rating (0-5)</th>
          <th># of Shoes Owned</th>
        </tr>
        {% for user in users %}
        <tr>
          <td>{{user.userID}} </td>
          <td>{{user.name|capfirst}} </td>
          <td>{{user.rating}} </td>
          <td>{{user.shoesOwned}} </td>
        </tr>
        {% endfor %}
      </table>
    </div>

  </div>
</div>

{% endblock %}
