{% extends 'base2.html' %}
{% block content %}

<div id="listClasses">
	<h3>Arts & Sciences Departments</h3>
	<div>
		<table>
			<tr>
				<td class="IndexTable4 "><a href="majors/ANTH"> Anthropology</a></td>
				<td class="IndexTable4 "><a href="majors/EVSC"> Environmental Sciences </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARAD"> Art (ARAD)</a></td>
				<td class="IndexTable4 "><a href="majors/HIEU"> History </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARAH"> Art (ARAH) </a></td>
				<td class="IndexTable4 "><a href="majors/MATH"> Mathematics</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARTH">  Art (ARTH) </a></td>
				<td class="IndexTable4 "><a href="majors/MUSI"> Music </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARTS"> Art (ARTS) </a></td>
				<td class="IndexTable4 "><a href="majors/PHIL"> Philosophy </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ASTR"> Astronomy</a></td>
				<td class="IndexTable4 "><a href="majors/PHYS"> Physics </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/BIOL"> Biology </a></td>
				<td class="IndexTable4 "><a href="majors/PSYC"> Psychology </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CHEM"> Chemistry </a></td>
				<td class="IndexTable4 "><a href="majors/SOC"> Sociology</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CLAS">  Classics </a></td>
				<td class="IndexTable4 "><a href="majors/SPAN"> Spanish </a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/DRAM"> Drama </a></td>
				<td class="IndexTable4 "><a href="majors/STAT"> Statistics </a></td>
			</tr>
		</table>
	</div>		
	<h3>Engineering & Applied Sciences Departments</h3>
	<div>
		<table>
			<tr>
				<td class="IndexTable4 "><a href="majors/APMA"> Applied Mathematics</a></td>
				<td class="IndexTable4 "><a href="majors/BME"> Biomedical Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CHE"> Chemical Engineering</a></td>
				<td class="IndexTable4 "><a href="majors/CE"> Civil & Environmental Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CS"> Computer Science</a></td>
				<td class="IndexTable4 "><a href="majors/ENGR"> Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ECE">  Electrical & Computer Engineering</a></td>
				<td class="IndexTable4 "><a href="majors/MSE"> Materials Science & Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/STS"> Science, Technology, & Society</a></td>
				<td class="IndexTable4 "><a href="majors/SYS"> Systems & Information Engineering</a></td>
			</tr>
		</table>
	</div>			
</div>
{% endblock %}
