{% extends 'base.html' %}
{% block content %}
<style>
.IndexTable4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #DDDDFF;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 3px;
	padding-left: 8px;
}
</style>
<div id="listClasses">
	<h3>Arts & Sciences Departments</h3>
	<div>
		<table>
			<tr>
				<td class="IndexTable4 "><a href="majors/ANTH"> Anthropology</a></td>
				<td class="IndexTable4 "><a href="majors/BME"> Biomedical Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARAD"> Art (ARAD)</a></td>
				<td class="IndexTable4 "><a href="majors/CEE"> Civil & Environmental Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARAH"> Art (ARAH) </a></td>
				<td class="IndexTable4 "><a href="majors/ENGR"> Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARTH">  Art (ARTH) </a></td>
				<td class="IndexTable4 "><a href="majors/MSE"> Materials Science & Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ARTS"> Art (ARTS) </a></td>
				<td class="IndexTable4 "><a href="majors/SYS"> Systems & Information Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ASTR"> Astronomy</a></td>
				<td class="IndexTable4 "><a href="majors/BME"> Biomedical Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/BIOL"> Biology </a></td>
				<td class="IndexTable4 "><a href="majors/CEE"> Civil & Environmental Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CHEM"> Chemistry </a></td>
				<td class="IndexTable4 "><a href="majors/ENGR"> Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CLAS">  Classics </a></td>
				<td class="IndexTable4 "><a href="majors/MSE"> Materials Science & Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/DRAM"> Drama </a></td>
				<td class="IndexTable4 "><a href="majors/SYS"> Systems & Information Engineering</a></td>
			</tr>
		</table>
	</div>		
	<h3>Engineering & Applied Sciences Departments</h3>
	<div>
		<table>
			<tr>
				<td class="IndexTable4 "><a href="majors/APMA"> Applied Mathematics</a></td>
				<td class="IndexTable4 "><a href="majors/BME"> Biomedical Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CHE"> Chemical Engineering</a></td>
				<td class="IndexTable4 "><a href="majors/CEE"> Civil & Environmental Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/CompSci"> Computer Science</a></td>
				<td class="IndexTable4 "><a href="majors/ENGR"> Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/ECE">  Electrical & Computer Engineering</a></td>
				<td class="IndexTable4 "><a href="majors/MSE"> Materials Science & Engineering</a></td>
			</tr>
			<tr>
				<td class="IndexTable4 "><a href="majors/STS"> Science, Technology, & Society</a></td>
				<td class="IndexTable4 "><a href="majors/SYS"> Systems & Information Engineering</a></td>
			</tr>
		</table>
	</div>			
</div>
{% endblock %}
