<!-- accounts/templates/accounts/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
  <h2 style="color:blue;margin-left:15px">Your Profile</h2>
<div style="margin-left:15px;">
  Name: {{ user.username }}
  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create Profile</button>
    </form>
  </div>
  <br>
  {% if user.is_searching %}
    <input type="checkbox" name="checkbox" checked> {{user.username}} is searching for a partner<br>
  {% else %}
    <input type="checkbox" name="checkbox"> {{user.username}} is not searching for a partner<br>
  {% endif %}
  <br>
  {% if user.image %}
    <img src="{{ user.image.url }}" width="120" alt="Error loading image">
  {% else %}
    <p>No image uploaded</p>
  {% endif %}
  <a href="{% url 'post_course' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Add a Course</a> <br>
  <a href="{% url 'list_majors' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Select Course</a><br>
  <b>Courses</b>: <br>
  <hr>
  {% for course in user.courses.all %}
    <b>Course Code</b>: {{course.course_code}} <br>
    {% if course.course_is_lecture %}
    <b>Course Type</b>: Lecture <br>
    {% else %}
    <b>Course Type</b>: Discussion <br>
    {% endif %}
    <b>Course Professor</b>: {{course.course_professor}} <br>
    <b>Course Location</b>: {{course.course_location}} <br>
    <b>Course Days</b>: {{course.course_days}} <br>
    <b>Course Time</b>: {{course.course_start_time}} - {{course.course_end_time}} <br>
    <br>
  {% endfor %}
{% endblock %}
</div>

