<!-- accounts/templates/accounts/profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
  <h2>Profile</h2>
  Name: {{ user.username }}
  <div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create Profile</button>
    </form>
  </div>
  <br>
  {% if user.is_searching %}
    <input type="checkbox" name="checkbox" checked> {{user.username}} is searching for a partner<br>
  {% else %}
    <input type="checkbox" name="checkbox"> {{user.username}} is not searching for a partner<br>
  {% endif %}
  <br>
  {% if user.image %}
    <img src="{{ user.image.url }}" width="120" alt="Error loading image">
  {% else %}
    <p>No image uploaded</p>
  {% endif %}
  <a href="{% url 'post_course' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span>Add a Course</a> <br>
  <b>Courses</b>: <br>
  {% for course in user.courses.all %}
    Course Code: {{course.course_code}} <br>
    Course Professor: {{course.course_professor}} <br>
    Course Location: {{course.course_location}} <br>
    Course Days: {{course.course_days}} <br>
    Course Time: {{course.course_start_time}} - {{course.course_end_time}} <br>
    <br>
  {% endfor %}
{% endblock %}

