<!-- accounts/templates/accounts/profile.html -->
{% extends 'base2.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
<div class="profileimage">
  <div class="hometext">
    <h2 style="margin-left:15px">Edit Your Profile</h2>
    <div style="margin-left:15px;">
      <div>
        <form id="pForm" method="post">
          <table>
              <col width="200">
            {% csrf_token %}
            <!-- {{ form.as_table}} -->
            <tr>
              <th>Name:</th>
              <th>{{form.name}}</th>
            </tr>
            <tr>
              <th>Description:</th>
              <th>{{form.description}}</th>
            </tr>
            <tr>
              <th>Availability:</th>
              <th>{{form.availability}}</th>
            </tr>
            <tr>
              <th>Location:</th>
              <th>{{form.location}}</th>
            </tr>
            <tr>
              <th>Phone Number:</th>
              <th>{{form.phone_number}}</th>
            </tr>
            <tr>
              <th>Email:</th>
              <th>{{form.profile_email}}</th>
            </tr>
            <tr>
              <th>Home Address:</th>
              <th>{{form.home_address}}</th>
            </tr>
            <tr>
              <th>Qualities:</th>
              <th>{{form.qualities}}</th>
            </tr>
          </table>

          {% if user.is_searching %}
    <input type="checkbox" name="checkbox" checked> {{user.username}} is searching for a partner<br>
    {% else %}
    <input type="checkbox" name="checkbox"> {{user.username}} is not searching for a partner<br>
    {% endif %}

          <button type="submit" onclick="thisclick()">Update Profile</button>
        </form>
      </div>
      <script>function thisclick() {
          //window.alert(document.getElementById("pForm").innerHTML);

          // Checks if phone is a number
          //phone_val = document.getElementById("id_phone_number").value;
          //var isnum = /^\d+$/.test(phone_val);
          //if (isnum === true & phone_val.length === 10) {
          //}
          //else {
          //  window.alert("Please enter a 10 digit phone number without any special characters");
          //}

          // Checks if email is valid:
        }
      </script>
    </div>
    <br>
    <div style="margin-left:15px">
    <!-- {% if user.is_searching %}
    <input type="checkbox" name="checkbox" checked> {{user.username}} is searching for a partner<br>
    {% else %}
    <input type="checkbox" name="checkbox"> {{user.username}} is not searching for a partner<br>
    {% endif %} -->
    <br>
    <!-- {% if user.image %}
    <img src="{{ user.image.url }}" width="120" alt="Error loading image">
    {% else %}
    <p>No image uploaded</p>
    {% endif %} -->
    <style>
    </style>
    <!-- <button type="submit" formaction="{% url 'post_course' %}">Add a course</button>
    <button type="submit" formaction="{% url 'list_majors' %}">Select a course</button> -->
    <a href="{% url 'post_course' %}" class="button"><span class="glyphicon glyphicon-plus"></span>Add a Course</a>
    <a href="{% url 'list_majors' %}" class="button"><span class="glyphicon glyphicon-plus"></span>Select
      Course</a>
    </div>
    <div style="margin-left:15px">
    <br>
    <b>Courses</b>: <br>
    <hr>
    {% for course in user.courses.all %}
    <b>Course Code</b>: {{course.course_code}} <br>
    {% if course.course_is_lecture %}
    <b>Course Type</b>: Lecture <br>
    {% else %}
    <b>Course Type</b>: Discussion <br>
    {% endif %}
    <b>Course Professor</b>: {{course.course_professor}} <br>
    <b>Course Location</b>: {{course.course_location}} <br>
    <b>Course Days</b>: {{course.course_days}} <br>
    <b>Course Time</b>: {{course.course_start_time}} - {{course.course_end_time}} <br>
    <br>
    {% endfor %}
  </div>
  </div>
</div>
{% endblock %}