{% extends 'base2.html' %}

{% block title %}Search{% endblock %}
{% block content %}
<div class="searchimage">
    <div class="hometext">
{% if search_list %}
    <h4 style="padding-left:15px; padding-top:30px">Matched users: </h4>
    <table>
        <col width="130">
        <col width="80">
        <tr>
            <th style="color:orange;">Name</th>
            <th style="color:orange;">Description</th>
            <th style="color:orange;">Courses</th>
        </tr>
    {% for customuser in search_list %}
        <tr>
            <th><a href="/accounts/{{ customuser.id }}/">{{ customuser.name }} {{ customuser.username }} </a></th>
            {% if customuser.description != "" %}
                <th> {{ customuser.description }} </th>
            {% else %}
                <th>No description uploaded</th>
            {% endif %}
            <th>
            {% for course in customuser.courses.all %}
                {{ course.course_code }}
            {% endfor %}
            </th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <div style="padding-left:15px; padding-top:30px;color:red;font-size:18px;font-weight:bold">No users match your query</div>
{% endif %}
    </div>
</div>
{% endblock %}