{% extends 'base2.html' %}

{% block title %}Search{% endblock %}
{% block content %}
<div class="searchimage">
    <div class="hometext">
{% if search_list %}
    <h4 style="padding-left:15px; padding-top:30px">Matched users: </h4>
    <ul>
    {% for customuser in search_list %}
        <li style="color:orange;"><a href="/accounts/{{ customuser.id }}/">{{ customuser.username }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <div style="padding-left:15px; padding-top:30px;color:red;font-size:18px;font-weight:bold">No users match your query</div>
{% endif %}
    </div>
</div>
{% endblock %}