{% extends 'base2.html' %}

{% block title %}Search{% endblock %}
{% block content %}

<div class="searchimage">
    <div class="hometext">
{% if search_list %}
<script>
    var term = '{{search_list}}';
    console.log(term);
</script>
    <div style="padding-left:15px;">
        {% for customuser in search_list|slice:":1"%}
        You searched for: {{customuser}}
    </div>
    {%endfor%}
    <h4 style="padding-left:15px; padding-top:30px">Matched users: </h4>
    <table class="searchRes">
        <col width="130">
        <col width="80">
        <tr>
            <th style="color:orange;">Name</th>
            <th style="color:orange;">Description</th>
            <th style="color:orange;">Courses</th>
        </tr>
    {% for customuser in search_list %}
        <tr>
            <th><a href="/accounts/{{ customuser.id }}/">{{ customuser.name }} {{ customuser.username }} </a></th>
            {% if customuser.description != "" %}
                <th> {{ customuser.description }} </th>
            {% else %}
                <th>No description uploaded</th>
            {% endif %}
            <th>
            {% for course in customuser.courses.all %}
                <a href="/accounts/search/?searchterm={{course.course_code}}"> {{ course.course_code }} </a>
            {% endfor %}
            </th>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <div style="padding-left:15px; padding-top:30px;color:red;font-size:18px;font-weight:bold">No users match your query</div>
{% endif %}
    </div>
</div>
{% endblock %}
