{% extends 'base2.html' %}

{% block title %} {{customuser.username}}'s profile {%endblock%}
{% block content %}
<div class="profileimage">
    <div class="hometext">
<h2 style="padding-left:15px">{{ customuser.username }}'s profile </h2>
{% if user.username != customuser.username %}
  <div style="padding-left:15px; font-weight: bold">
    Like what you see? <span><a href="/accounts/messages/write/?recipients={{ customuser.username}}" style="padding-left:15px">Message {{ customuser.username}}!</a></span>
  </div>
{% endif %}
<br>

<div style="color:rgb(255, 193, 77);padding-left:15px;">Name: {{ customuser.name}} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Description: {{ customuser.description }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Availability: {{ customuser.availability }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Location: {{ customuser.location }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Phone Number: {{ customuser.phone_number }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Email Address: {{ customuser.profile_email }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Home Address: {{ customuser.home_address }} </div>
<div style="color:rgb(255, 193, 77);padding-left:15px;">Qualities: {{ customuser.qualities }} </div>
<br>
<b style="padding-left:15px;">Courses</b>:
<br>
<table style="width:100%; padding-left:15px">
	<tr>
		<th>Course Code</th>
		<th>Course Type</th>
		<th>Professor</th>
		<th>Location</th>
		<th>Days</th>
		<th>Time</th>
	</tr>
  	{% for course in customuser.courses.all %}
	  <tr>
	    <td>{{course.course_code}}</td>
	    {% if course.course_is_lecture %}
        <td>Lecture</td>
        {% else %}
        <td>Discussion</td>
        {% endif %}
	    <td>{{course.course_professor}}</td> 
	    <td>{{course.course_location}}</td>
	    <td>{{course.course_days}}</td>
	    <td>{{course.course_start_time}} - {{course.course_end_time}}</td>
	  </tr>
	{% endfor %}
</table>

<br>
</div>
</div>

{% endblock %}
