<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
<link rel="shortcut icon" type="image/png" href="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dd/University_of_Virginia_Rotunda_logo.svg/1004px-University_of_Virginia_Rotunda_logo.svg.png"/>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
{% block extrahead %}{% endblock %}

</head>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#282828">
  <a class="navbar-brand" style="color:white;cursor:pointer"; onclick="location.href='{% url 'home' %}'">Student Skill Search</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline my-2 my-lg-0" id="search" action="/accounts/search/" method="get" accept-charset="utf-8">
      <input class="form-control mr-sm-2" type="search" placeholder="Enter class, name, etc" aria-label="Search" name="searchterm" style="width: 500px">
    </form>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" form="search" style="color:#33cc33">Search</button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active" style="cursor:pointer">
          <a class="nav-link" onclick="location.href='{% url 'profile' %}'">Edit Profile</a>
        </li>
        <li class="nav-item active" style="cursor:pointer">
          <a class="nav-link" onclick="location.href='{% url 'user_profile' %}'">Your Profile</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="/accounts/messages/">Messages</a>
      </li>
        {% else %}
        <li class="nav-item disabled">
        <a class="nav-link">Profile</a>
      </li>
        {% endif %}
    </ul>
     {% if user.is_authenticated %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'logout' %}'" style="color:#33cc33">Log Out</button>
      {% else %}
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="location.href='{% url 'social:begin' 'google-oauth2' %}'" style="color:#33cc33">Sign In</button>
      {% endif %}

  </div>
</nav>

<div class="searchimage">
    <div class="hometext">
<div style="padding-left:15px; padding-top:15px">
{% block postman_menu %}{% endblock %}
{% block content %}{% endblock %}
</div>
</div>
</div>
</html>
