<!-- templates/home.html-->
{% extends 'base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="homeimage">
  <div class="hometext">
  <h1> Welcome back, {{ user.username }}! </h1>
  <div class="sidenav" style="height: 93%;width: 240px;position: fixed;z-index: 1;bottom: : 0;right: 0;background-color: lightgray;overflow-x: hidden;padding-top: 20px">
      <a style="color: blue;padding: 6px 8px 6px 16px">Compatible Users</a>
      {% for user in compat %}
        <ul>
            <li style="color:blue;"><a href="/accounts/{{ user.id }}/">{{ user.username }}</a></li>
        </ul>
      {% endfor %}
      </div>
    </div>
</div>

{% else %}
  <br>
  <h3 style="color:blue; text-align:center; padding-top:70px">Welcome to Student Skill Matching!</h3>
  <h5 style="color:orange; text-align:center; padding-top:40px">Please log in or sign up to have full functionality of the site!</h5>
{% endif %}

{% endblock %}