<!-- templates/home.html-->
{% extends 'base2.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="homeimage">
  <div class="hometext">
  <h1> Welcome back, {{ user.username }}! </h1>
      <h3 >Compatible Users:</h3>
      {% for user in compat %}
        <ul>
            <li style="color:orange;"><a href="/accounts/{{ user.id }}/">{{ user.username }}</a></li>
            <p>{{ user.description }}</p>
 		    <i>Courses:</i>
 		    {% for course in user.courses.all %}
 			  <i>{{ course.course_code }}</i>
 		    {% endfor %}
        </ul>
      {% endfor %}
    </div>
</div>

{% else %}
  <br>
  <h3 style="color:blue; text-align:center; padding-top:70px">Welcome to Student Skill Matching!</h3>
  <h5 style="color:orange; text-align:center; padding-top:40px">Please log in or sign up to have full functionality of the site!</h5>
{% endif %}

{% endblock %}